.sponsorship{
    display: flex;
    justify-content: center;
    margin: 3px 4%;
    flex-direction: column;
}
.sponsorshipItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%; 
}
.image{
    border-radius: 5%;
}
.imageInfl{
  aspect-ratio: 3/4;
  flex-shrink: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 6%;
}